# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl
pip-wheel-metadata/
eggs/
parts/
sdist/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.env
.venv/
venv/
env/
ENV/
.venv/*
venv/*


# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# dotenv
.env
.env.*.local

__pycache__/
*.py[cod]
*.pyo
*.pyd
tickers_data.csv
